{% trans_default_domain 'FOSUserBundle' %}


    <div class="row">





        <div class="col s12 m8 offset-m2">
            <h2 class="deep-purple-text lighten-1 center-align"> {{ user.username }}</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img class="responsive-img" src="/images/products/{{user.imageName}}" alt="" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><strong>{{ 'profile.show.email'|trans }} :</strong> {{ user.email }}</p>
                        <p><strong>Nom :</strong> {{ user.nom }}</p>
                        <p><strong>Prénom :</strong> {{ user.prenom }}</p>
                        <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn waves-ligth  deep-purple " href="/profile/change-password">Modifier le mot de passe</a>
                        <a class="waves-effect waves-light btn waves-ligth  deep-purple " href="/profile/edit">Editer compte</a></div>
                </div>
            </div>
        </div>
    </div>
