{% extends "::base.html.twig" %} {% block title %}Commentaires{% endblock %} {% block body %}
<div class="container">
<h3 class="deep-purple-text ">Commentaires</h3>

    {% for comment in comments %}
    <div class="row">
        {% if comment.article == null %} {% else %}
        <div class="col s12">
            <div class="card deep-purple lighten-5">
                <div class="card-content">
                    <span class="card-title deep-purple-text">{{comment.article.titre}}</span>


                    <p> {{comment.commentaire|raw|nl2br}}</p>
                    <blockquote>{{comment.user.username}}</blockquote>
                </div>
                <div class="card-action ">
                    <a href="/{{comment.id}}/{{ comment.article.id }}/delete/comment">Supprimer</a>
                    <a href="/{{comment.article.id}}/single-article">Voir</a>
                      <p href="/{{comment.id}}/{{comment.article.id}}/like/comment" style="color:black;" class="secondary-content aime"><i class="fa fa-heart fa-2x"></i> {{comment.listelikes}} <span> {% if comment.listelikes|length > 0  %}  j'aime {% else %} 0 j'aime {% endif %} </span> </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
