{% extends 'base.html.twig' %}


{% block body %}
<h1>Article</h1>



<table>

  <tbody>
      <tr>
          <th>Titre</th>
          <td>{{ article.titre }}</td>
      </tr>
      <tr>
          <th>Description</th>
          <td>{{ article.description }}</td>
      </tr>
      <tr>
          <th>Image</th>
          <td><img src="/images/products/{{article.imageName}}" alt="" /></td>
      </tr>

      <tr>
          <th>Datecreation</th>
          <td>{% if article.dateCreation %}{{ article.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
      </tr>
      <tr>
          <th>Brouillon</th>
          <td>{% if article.brouillon %}Yes{% else %}No{% endif %}</td>
      </tr>
  </tbody>


</table>

<h5>Poster un commentaire :</h5>

{{form_start(comment_form)}}
{{form_widget(comment_form)}}
<div class="row">
    <div class="input-field col s12">
        {{ form_widget(comment_form.validate, {'label':'Publier' , 'attr': {'class':'waves-effect waves-light btn-flat blue lighten-1'}}) }}

    </div>

</div>



{{form_end(comment_form)}}






   {% for comment in comments %}
   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/images/products/{{comment.user.imageName}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <h5>{{comment.user.username}}</h5>
              <span class="black-text">
                {{comment.commentaire}}
              </span>
            </div>
            <a href="/{{comment.id}}/{{article.id}}/edit/comment">Editer</a>
            <a href="">Like</a>
          </div>
        </div>
      </div>
    {% endfor %}


<li>
    <a href="{{ path('blog_homepage') }}">Retour à l'accueil</a>
</li>




{% endblock %}
