{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
       <div class="row">
           <div class="center-align">
               <h1 class="deep-purple-text lighten-1">{{ article.titre }}</h1>
               <p class="center-align">

               {% if article.dateCreation %}Posté le {{ article.dateCreation|date('d-m-Y') }} à {{ article.dateCreation|date('h:m') }}{% endif %}
               </p>            </div>
       </div>
   </div>    <div class="container">
       <div class="row">
           <div class="col s4">
               <img class="responsive-img" src="/images/products/{{ article.imageName }}" alt=""/>
           </div>            <div class="col s8">

              <span> {{ article.description }}</span></p>

       </div>
</div>

{% if is_granted('ROLE_MEMBRE') %}

<h5>Poster un commentaire :</h5>

{{form_start(comment_form)}}
{{form_widget(comment_form.commentaire)}}
<div class="row">
    <div class="input-field col s12">

        {{ form_widget(comment_form.validate, {'label':'Publier' , 'attr': {'class':'white-text waves-effect waves-light btn-flat deep-purple lighten-1'}}) }}

    </div>

</div>



{{form_end(comment_form)}}
{% endif %}






           <h3 class="deep-purple-text center-align">Commentaires</h3>
   {% for comment in comments %}
   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/images/products/{{comment.user.imageName}}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <h5>{{comment.user.username}}</h5>
              <span class="black-text">
                {{comment.commentaire}}
              </span>
            </div>
             <a href="/{{comment.id}}/like/comment" class="secondary-content"><i class="material-icons"></i>Like</a>
            {% if user.id == comment.user.id %}
            <a href="/{{comment.id}}/{{article.id}}/edit/comment">Editer</a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}


<li>
    <a href="{{ path('blog_homepage') }}">Retour à l'accueil</a>
</li>




{% endblock %}
