{% extends 'base.html.twig' %}


{% block body %}


 <div class="container">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="/images/products/{{ article.imageName }}" alt=""/>
              <span class="card-title deep-purple lighten-1">{{ article.titre }}</span>
            </div>
            <div class="card-content">
              <p>{{ article.description|raw|nl2br }}</p>
            </div>
            <div class="card-action right-align">
              <span>{% if article.dateCreation %}Posté le {{ article.dateCreation|date('d-m-Y') }} à {{ article.dateCreation|date('h:m') }}{% endif %}</span>
            </div>
          </div>
        </div>
      </div>


{% if is_granted('ROLE_MEMBRE') %}

<h4 class="deep-purple-text">Poster un commentaire :</h4>

{{form_start(comment_form)}}
{{form_widget(comment_form.commentaire)}}
<div class="row">
    <div class="input-field col s12">

        {{ form_widget(comment_form.validate, {'label':'Publier' , 'attr': {'class':'white-text waves-effect waves-light btn-flat deep-purple lighten-1'}}) }}

    </div>

</div>



{{form_end(comment_form)}}
{% endif %}



<div class="row">


           <h3 class="deep-purple-text center-align">Commentaires</h3>
   {% for comment in comments %}


  <div class="row">

  <div class="col s12 ">


    <div class="card horizontal deep-purple lighten-5 row">
      <div class="card-image col s3">
        <img src="/images/products/{{comment.user.imageName}}" alt="" class="img-responsive">
      </div>
      <div class="card-stacked col s8 offset-s1">
        <div class="card-content">
         <h5>{{comment.user.username}}</h5>
          <p>{{comment.commentaire|raw|nl2br}}</p>
        </div>
        <div class="card-action">
          <a href="/{{comment.id}}/{{article.id}}/like/comment" class="secondary-content"><i class="material-icons"></i>Like</a>
          {% if user.id == comment.user.id %}
          <a href="/{{comment.id}}/{{article.id}}/edit/comment">Editer</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
   </div>
    {% endfor %}
    </div>




<a href="{{ path('blog_homepage') }}" class="deep-purple-text"><i class="fa fa-reply" aria-hidden="true"></i> Retour à l'accueil</a>


</div>




{% endblock %}
